/* General Styles */
h2 {
    margin: 0;
}

/* About Section */
.about {
    max-width: 720px; 
    margin: auto; 
    padding: 20px; 
}

.social-head{
    margin-bottom: 20px;

    h1{
        margin-bottom: 10px;
    }
}

/* Flexbox Layouts */
.info {
    display: flex;
    align-items: flex-start; 
    padding: 20px;
}

.inline-flex {
    display: flex;
    justify-content: center; 
}

.inline-info {
    flex-direction: column; 
    justify-content: flex-start; 
    display: inline-block;
}

/* Box Styles */
.inline-block {
    background-color: white;
    border-radius: 10px;
    display: inline-block;
}

.nana-img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

/* Info Box */
.info-box {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    margin-left: 24px; 
    max-width: 350px;
}

.info-record {
    margin-left: 20px;
    margin-top: 30px;
}

/* Plate Embed */
.plate-embed {  
    margin: auto;
    display: flex;
    justify-content: center; 
    width: 100%; 
    max-width: 720px; 
}

/* Media Queries */
@media (max-width: 650px) {

    
    .info {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }

    .info-box, .info-record {
        margin: 10px 0; 
        width: 100%; 
    }

    .vertical {
        display: none; 
    }

    .nana-img {
        margin: 10px 0; 
    }
    
    .info-box {
        margin: 0px;
    }

    .about {
        max-width: 100%; 
        padding: 10px; 
    }
}