.frame-gallery{
    max-width: 1535px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .gallery-image {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .gallery-image img {
    height: 250px;
    width: 350px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
  }
  
  .img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 250px;
    width: 350px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
    animation: fadeEffect 1s;
    border-radius: 8px;
  }
  
  .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    color: #ffffff;
  
    p{
      font-weight: 900;
    }
  }
  
  .transparent-box {
    height: 250px;
    width: 350px;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
  }
  
  .img-box:hover img { 
    transform: scale(1.1);
  }
  
  .img-box:hover .transparent-box {
    background-color:rgba(0, 0, 0, 0.5);
  }
  
  .img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
  }
  
  .img-box:hover {
    cursor: pointer;
    border-radius: 8px;
  }
  
  .caption > p:nth-child(2) {
    font-size: 0.8em;
  }
  
  .opacity-low {
    opacity: 0.5;
  }   
  
  
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  .tab {
    width: 100%;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: space-evenly;
  }
  
  .tab button {
    color: black;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tabcontent {
    display: none;
    border-top: none;
  }
  
  
  @media (max-width: 850px) {
    
    .img-box{
      width: 300px;
      height: 200px;
      border-radius: 8px;
    }
  
    .caption {
      position: absolute;
      bottom: 50px;
      left: 20px;
    }
  }

.unset{
    height: 65vh;
}

button .tablinks::selection{
    .unset{
        display: none;
    }
}
