@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html body{
    margin: 0;
    padding: 0;
    font-family: 'Prompt';
    scroll-behavior: smooth; 
    background-color: #f2f4f7;
}

.top-nana{
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: grid;
    align-items: end;
    transition: 0.3s;
    height: 100vh;
}

section{    
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column
}

.about ,.photo ,.social{
    max-width: 100%;
    align-items: center
}

section h1{
    display: block;
    font-size: calc(1.425rem + 2.1vw);
    color: #007397;
}

h2{
    font-size: calc(1rem + 1.5vw);
}

h3{
    font-size: calc(0.7rem + 1.4vw);
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: 600;
    text-transform: capitalize;
}

svg{
    margin: 0;
}

#about{
    scroll-margin-top: 110px; 
}

#social{
    scroll-margin-top: 60px; 
}

#photo{
    scroll-margin-top: 60px; 
}

.top-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.name-top-text{
    color: #ffffff;
    font-weight: 1000;
    font-size: 75px;
    text-transform: uppercase;
}

.tread-x{
    width: 307.31px;
    height: 40px;
    border: solid;
    border-width: 3px;
    border-color: #1d4c74;
    color: #1d4c74;
    font-weight: 800;
    border-radius: 10px;
    background: none;
    transition: background-color 0.1s ease;
}

.tread-x:hover{
    color: #ffffff;
    background-color: #1d4c74;
    transition: background-color 0.1s ease;
}
@media (max-width:550px){
    .name-top-text{
        font-size: 38.15px;
    }
    .tread-x{
        width: 234.48px;
    }
}
