.photo{
  margin: auto;
  display: block;
  max-width: 1000px;
  padding: 20px;
}

.box-img{
  display: flex;
  gap: 25px;
}

.box-img img {
  height: 100%;
  width: 100%;
  transform: scale(1.02);
  transition: transform 0.4s ease;
}

.photo-img {
  box-sizing: content-box;
  margin-bottom: 15px;
  margin-top: 10px;
  overflow: hidden;
  color: white;
  position: relative;
  background-color: white;
  border-radius: 8px;
}

.photo-img img{
  height: 100%;
  width: 100%;
  object-fit: cover; 
}

.text {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  color: #ffffff;

  p{
    font-weight: 900;
  }
}

.text-top {
  height: 100%;
  width: 100%;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.photo-img:hover img { 
  transform: scale(1.1);
}

.photo-img:hover .text-top {
  background-color:rgba(0, 0, 0, 0.5);
}

.photo-img:hover .text {
  transform: translateY(-20px);
  opacity: 1.0;
}

.photo-img:hover {
  cursor: pointer;
  border-radius: 8px;
}

.text > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}   

.text:hover{
  opacity: 2.0;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.social-head{
  text-align: center;
}

.photo-social {
  background-color:#ffffff;
  width: 100%; 
  border-radius: 10px;
  transition: background-color 0.3s ease;

  svg{
    fill: rgb(0, 0, 0);
  }

  .line-text{
    color: rgb(0, 0, 0);
  }
}

.photo-social:hover{
    background-color: #000000;

    svg{
        fill: rgb(255, 255, 255);
    }

    .photo-text{
        color: rgb(255, 255, 255);
    }
}   

.photo-text{
  color: #000000;
}

@media (max-width: 940px) {
  .photo-img{
    max-width: 600px;
    width: 100%;
  }

  .photo-box{
    gap: 20px;
  }
  
  .box-img {
    display: flex;
    flex-direction: column;
    align-items: center
  }

}
